<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock title %}
    <!--<title>Emp Home Page</title>-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.js '%}"></script>
    <style>
        .left{
        background-color:YellowGreen;
        min-height:400px;
        max-height:50px;
        }
        .right{
        background-color:Violet;
        min-height:400px;
        max-height:50px;
        }

    </style>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0" nonce="C04iut9Y"></script>
</head>
<body>
{% csrf_token %}
    <div class="row bg-warning text-center">
        <div class="col-sm-5">
            <h4>Job At Mail</h4>
        </div>

        <div class="col-sm-5">
            <h4>Welcome Employer</h4>
        </div>
        <div class="col-sm-2">
            <div class="fb-like" data-href="http://localhost:8000/emphome/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>

        </div>


    </div>

    <div class="row border">
        <div class="col-sm-12">
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{% static 'images/emppost1.jpg' %}" class="rounded" height="60px" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'emphome' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'postjob'%}">Post Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manageapp' %}">Manage Applicants</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'empchnagepassword' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="{% url 'emplogout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




</div>

    <div class="row border ">

        <div  class="col-sm-4 border left p-0">

    <!--<marquee direction="up">-->

            <div class="bg-danger  border text-light text-center">
                <h3>We are Hire The Employer</h3>
                <img src="{% static 'images/emp1.jpg' %}" width="420px"></a>
            </div>
            <!--<div class="bg-danger border text-light text-center">-->
                <!--<h3>Find Best Employer</h3>-->
                <!--<img src="{% static 'images/emp2.jpg' %}" width="420px"></a>-->
            <!--</div>-->
    <!--</marquee>-->
            <div class="bg-danger border text-light text-center">
                <h3>My Company Employer</h3>
            </div>
       <div class="bg-light">
                <div class="row border">
                    <div class="col-sm-4">
                        <img src="{% static 'images/emp11.jpeg' %}" height="140px" width="140px"></a>
                        </div>
                    <div class="col-sm-4">
                <img src="{% static 'images/emp12.jpeg' %}" height="140px" width="140px"></a>
                    </div>
                <div class="col-sm-4">
                <img src="{% static 'images/emp13.jpeg' %}" height="140px" width="130px"></a>
                </div>
                    </div>

                <div class="row border">
                    <div class="col-sm-4">
                        <img src="{% static 'images/emp14.jpeg' %}" height="140px" width="140px"></a>
                        </div>
                    <div class="col-sm-4">
                <img src="{% static 'images/emp15.jpeg' %}" height="140px" width="140px"></a>
                    </div>
                <div class="col-sm-4">
                <img src="{% static 'images/emp16.jpeg' %}" height="140px" width="130px"></a>
                </div>
                    </div>


            </div>

<!--</marquee>-->

        </div>
         <div class="col-sm-8 right">
             {% block body %}

             {% endblock body %}

        </div>
</div>
<div class="row border bg-dark text-light text-center">
    <div class="col-sm-6">
        <h4>Copyright &copy; To Jobs At Mail</h4>

    </div>
     <div class="col-sm-6">
         <h4>Developed By: Rahul</h4>

    </div>

</div>

</body>
</html>