{% extends "empbase.html" %}


{% block title %}
<title>Emp Change</title>
{% endblock %}

{% block body %}
<h4 class="my-2" style="color:cornsilk;text-align:center;">
    <b>Change Password</b>
</h4>
        {% if msg %}
<p style="text-align:center">{{msg}}</p>
{% endif %}

<div style="width:60%;margin:0 auto;">
    <form action="{% url 'empchangepwd'%}" method="post">
        {% csrf_token %}
        <ol>
        <div class="form-group">
            <li><label>Enter Old Password</label></li>
            <input type="password" name="oldpassword" class="form-control" required="true" >
        </div>

        <div class="form-group">
           <li> <label>Enter New Password</label></li>
            <input type="password" name="newpassword" class="form-control" required="true">
        </div>

        <div class="form-group">
            <li><label>Confirm Password</label></li>
            <input type="password" name="confirmpassword" class="form-control" required="true">
        </div>
        <br>
        <input type="submit" value="Change" class="btn btn-info form-control">

</ol>
    </form>


{% endblock body %}