{% extends 'base.html' %}


{% block title %}
<title>Employee Registration</title>
{% endblock %}

{% block body%}


<h4 class="my-2" style="color:cornsilk;text-align:center">
    <b><u>Empoyer Registration Form</u></b>
</h4>

    {% if msg %}
<p style="text-align:center">{{msg}}</p>
{% endif %}

<div style="width:60%;margin:0 auto;">
    <form action="{% url 'ereg' %}" method="post">
        {% csrf_token %}
        <ol>
        <div class="form-group">

           <li> <label>Enter Firm/Company Name:</label></li>
            <input type="text" name="firmname" class="form-control" required="true"/>
        </div>

        <div class="form-group">
            <li><label>Enter Nature Of Work:</label></li>
            <textarea name="firmwork" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <li><label>Enter Firm Address:</label></li>
            <textarea name="firmaddress" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <li><label>Enter Contact Person Name:</label></li>
            <input type="text" name="cpname" class="form-control" required="true"/>
        </div>

        <div class="form-group">
           <li> <label>Enter Contact Number:</label></li>
            <input type="number" name="cpcontactno" class="form-control"  required="true"/>
        </div>

        <div class="form-group">
            <li><label>Enter Email Address:</label></li>
            <input type="email" name="cpemailaddress" class="form-control" required="true"/>
        </div>

        <div class="form-group">
            <li><label>Enter Aadhar Number:</label></li>
            <input type="number" name="aadharno" class="form-control" required="true"/>
        </div>

        <div class="form-group">
            <li><label>Enter PAN Number:</label></li>
            <input type="text" name="panno" class="form-control" required="true"/>
        </div>

        <div class="form-group">
            <li><label>Enter GST Number:</label></li>
            <input type="text" name="gstno" class="form-control" required="true"/>
        </div>


        <div class="form-group">
            <li><label>Enter Password:</label></li>
            <input type="password" name="password" class="form-control" required="true"/>
        </div>
<br>
        <input type="submit"  value="Submit" class="btn btn-info form-control"/>

            </ol>
    </form>
    <br>





</div>


{% endblock body %}