{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}
{% block body%}
<div class="my-3">


<h2>
    <b>What Is Job</b>
    </h2>
    <p>A job is any legal activity that allows an individual to perform a service and in return earn credits she/he can use to buy things.

A job can mean "some work that has to be done", for example: there are jobs to be done in the house: washing up, mending things that are broken, etc.

A job can also mean: work that a person does to earn money. The word "job" may be used when a person works for someone
        else "an employer" who pays them for the work. For example, a teacher's job is to teach children or adults. A taxi
        driver's job is to drive people in a taxi. A firefighter rescues people from burning buildings and
        puts out fires. A dermatologist's job is to diagnose and treat skin diseases. Some jobs pay very little.</p>

</div>

<h2>
    <b>What is the importance of job?</b>
    </h2>
    <p>A job may be important for a sense of purpose since it can provide goals to work toward each day and an income to support you financially. It can help you build
        skills and experience that will last throughout your career, even if you change careers later in life.</p>

<h4>You Comment in Facebook</h4>
<div class="fb-comments" data-href="http://localhost:8000/" data-width="" data-numposts="5"></div>
<iframe src="https://www.facebook.com/plugins/comment_embed.php?href=http%3A%2F%2Flocalhost%3A8000%2F%3Fcomment_id%3D590781392589995&include_parent=false" width="421" height="121" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

{% endblock body %}