{% extends 'base.html' %}


{% block title %}
<title>Login</title>
{% endblock %}

{% block body%}
<h4 class="my-2" style="color:cornsilk;text-align:center">
    <b><u>Login</u></b>
</h4>
    {% if msg %}
<p style="text-align:center">{{msg}}</p>
{% endif %}
{% if mm %}
    <p style="text-align:center;color:green">{{mm}}</p>
{% endif %}

{% if kk %}
    <p style="text-align:center;color:green;">{{kk}}</p>
{% endif %}
<div style="width:60%;margin:0 auto;">
    <form action="{% url 'validate'%}" method="post">
        <ol>
        {% csrf_token %}
        <div class="form-group">
           <li> <label>Enter User Id</label></li>
            <input type="text" name="userid" required="true" class="form-control"/>

        </div>
        <div class="form-group">
            <li><label>Enter Password</label></li>
            <input type="password" name="password" required="true" class="form-control"/>

        </div>

        <div class="form-group">
            <li><label>Select Usertype</label></li>
            <select name="usertype" class="form-control">
                <option value="">-Select-</option>
                <option value="jobseeker">Job Seeker</option>
                <option value="employer">Employer</option>
                <option value="admin">Administrator</option>
            </select>
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-info form-control">
</ol>
    </form>
    <br>

</div>

{% endblock body %}